<link rel="stylesheet" href="../css/build.css">
<script src="../js/build.js"></script>
<div ng-controller="BuildController" class="row">

  <div class="col-lg-12 text-center">
    <h1>BUILD</h1>
  </div>
  <div class="col-lg-1 instrument text-center">
    <table>
      <tr>
        <td class="3 selected-instr">
        </td>
      </tr>
      <tr>
        <td class="2 selected-instr">
        </td>
      </tr>
      <tr>
        <td class="1 selected-instr">
        </td>
      </tr>
      <tr>
        <td class="0 selected-instr">
        </td>
      </tr>

    </table>
  </div>
  <div class="col-lg-8 grid text-center">
    <table class="grid-table">
      <tr class="3" ng-click="activeInstr()" ng-class="{'active': isActive}">
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
      </tr>
      <tr class="2" ng-click="activeInstr()" ng-class="{'active': isActive}">
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
      </tr>
      <tr class="1" ng-click="activeInstr()" ng-class="{'active': isActive}">
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
      </tr>
      <tr class="0" ng-click="activeInstr()" ng-class="{'active': isActive}">
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
        <td ng-click="populate($event)"></td>
      </tr>
    </table>
  </div>
  <div class="col-lg-3 rack text-center">
    <h4>RACK</h4>
    <div class="row">
      <div class="col-lg-12 collapseHeading">
        <a ng-click="collapse('piano')">
          <h4>Piano/Keyboards</h4>
        </a>
      </div>
      <div ng-show="collapsePiano" class="col-lg-12">
        <button ng-click="notesOn('piano'); addInstr('piano')" type="button" class="btn btn-default btn-lg">Piano</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 collapseHeading">
        <a ng-click="collapse('guitar')">
          <h4>Guitar</h4>
        </a>
      </div>
      <div ng-show="collapseGuitar" class="col-lg-12">
        <button ng-click="notesOn('guitar'); addInstr('guitar')" type="button" class="btn btn-default btn-lg">Guitar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 collapseHeading">
        <a ng-click="collapse('bass')">
          <h4>Bass</h4>
        </a>
      </div>
      <div ng-show="collapseBass" class="col-lg-12">
        <button ng-click="notesOn('bass'); addInstr('bass')" type="button" class="btn btn-default btn-lg">Bass</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 collapseHeading">
        <a ng-click="collapse('drums')">
          <h4>Drum Rack</h4>
        </a>
      </div>
      <div ng-show="collapseDrums" class="col-lg-12">
        <button ng-click="notesOn('drums'); addInstr('drums')" type="button" class="btn btn-default btn-lg">Drum Rack</button>
      </div>
    </div>
  </div>
  <div ng-show="notes" class="col-lg-12 notes text-center">
    <h4>{{ instrument }}</h4>
    <div class="row">
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="playNote('C')">C</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="playNote('Cs')">C#</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="playNote('D')">D</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="playNote('Eb')">Eb</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="playNote('E')">E</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="playNote('F')">F</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="playNote('Fs')">F#</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="playNote('G')">G</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="playNote('Ab')">Ab</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="playNote('A')">A</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="playNote('Bb')">Bb</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="playNote('B')">B</button>
      </div>
    </div>
  </div>
  <div ng-show="drums" class="col-lg-12 drums text-center">
    <h4>drums</h4>
    <div class="row d-chooser">
      <div class="col-lg-1"></div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="activeDrum('bd')">Bass Drum</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="activeDrum('lt')">Low Tom</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="activeDrum('mt')">Mid Tom</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="activeDrum('ht')">High Tom</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="activeDrum('sd')">Snare Drum</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="activeDrum('cp')">Clap</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="activeDrum('rd')">Ride</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="activeDrum('oh')">Open Hat</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="activeDrum('hh')">Hi Hat</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-default btn-lg" ng-click="activeDrum('cr')">Crash</button>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-4 d-rack">empty</div>
          <div class="col-lg-4 d-rack">empty</div>
          <div class="col-lg-4 d-rack">empty</div>
        </div>
        <div class="row">
          <div class="col-lg-4 d-rack">empty</div>
          <div class="col-lg-4 d-rack">empty</div>
          <div class="col-lg-4 d-rack">empty</div>
        </div>
        <div class="row">
          <div class="col-lg-4 d-rack">empty</div>
          <div class="col-lg-4 d-rack">empty</div>
          <div class="col-lg-4 d-rack">empty</div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row bd" ng-show="bd">
          <div class="col-lg-12">
            <h4>Bass Drum</h4>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="playDrum('bd')">Bass Drum</button>
            </div>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="addToRack('bd')">+</button>
            </div>
          </div>
        </div>
        <div class="row cp" ng-show="cp">
          <div class="col-lg-12">
            <h4>Clap</h4>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="playDrum('cp')">Clap</button>
            </div>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="addToRack('cp')">+</button>
            </div>
          </div>
        </div>
        <div class="row cr" ng-show="cr">
          <div class="col-lg-12">
            <h4>Crash</h4>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="playDrum('cr')">Crash</button>
            </div>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="addToRack('cr')">+</button>
            </div>
          </div>
        </div>
        <div class="row hh" ng-show="hh">
          <div class="col-lg-12">
            <h4>Hi Hat</h4>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="playDrum('hh')">Hi Hat</button>
            </div>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="addToRack('hh')">+</button>
            </div>
          </div>
        </div>
        <div class="row ht" ng-show="ht">
          <div class="col-lg-12">
            <h4>Hi Tom</h4>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="playDrum('ht')">Hi Tom</button>
            </div>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="addToRack('ht')">+</button>
            </div>
          </div>
        </div>
        <div class="row lt" ng-show="lt">
          <div class="col-lg-12">
            <h4>Low Tom</h4>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="playDrum('lt')">Low Tom</button>
            </div>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="addToRack('lt')">+</button>
            </div>
          </div>
        </div>
        <div class="row mt" ng-show="mt">
          <div class="col-lg-12">
            <h4>Mid Tom</h4>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="playDrum('mt')">Mid Tom</button>
            </div>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="addToRack('mt')">+</button>
            </div>
          </div>
        </div>
        <div class="row oh" ng-show="oh">
          <div class="col-lg-12">
            <h4>Open Hat</h4>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="playDrum('oh')">Open Hat</button>
            </div>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="addToRack('oh')">+</button>
            </div>
          </div>
        </div>
        <div class="row rd" ng-show="rd">
          <div class="col-lg-12">
            <h4>Ride</h4>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="playDrum('rd')">Ride</button>
            </div>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="addToRack('rd')">+</button>
            </div>
          </div>
        </div>
        <div class="row sd" ng-show="sd">
          <div class="col-lg-12">
            <h4>Snare</h4>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="playDrum('sd')">Snare</button>
            </div>
            <div class="col-lg-1">
              <button type="button" class="btn btn-default btn-lg" ng-click="addToRack('sd')">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
