<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Maven+Pro" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/profile.css">

<div ng-controller="ProfileController">


<div class="container-fluid">
  <div class="col-lg-3 sidebar">
    <div  id="sidebar">
      <img class="media-object" ng-src= "{{ img }}" />
      <h1>{{ username }}</h1>
      <h3>{{ desc }}</h3>
      <h3>Projects: {{ projects }}</h3>
      <h3>Views: {{ views }}</h3>
    </div>
  </div>
  <div class="col-lg-9" id="profile-info">
    <h1 class="projects">PROJECTS</h1>
    <div ng-repeat="project in projectsArr">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">

                <div class="media-body">
                    <p>Title: {{project.title}}</p>
                    <p>Updated: {{project.updated}}</p>
                    <p>Created: {{project.created}}</p>
                    <p>Genre: {{project.genre}}</p>



                </div>
            </div>
        </div>



    </div>
  </div>

</div>
