<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Maven+Pro" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/profile.css">

<h1>Welcome, {{ user }}</h1>
<h3>Projects: {{ projects }}</h3>
<h3>Views: {{ views }}</h3>

<div class="container">
  <div class="col-lg-3" id="sidebar">
    <p>Here is where the profile picture and user information goes.</p>

  </div>
  <div class="col-lg-9" id="profile-info">
    <p>Here is where the user project information goes.</p>
  </div>

</div>
