html, body {
  background-color: rgb(41, 40, 42)
}

span {
  color: silver;
  font-family: 'Maven Pro', sans-serif;
  font-size:50px;
  letter-spacing: 3px;
}
.time-sigs{
  padding-top: 1%;
  padding-right: 1%;
  padding-left: 0;
}
.save{
  font-size:20px;
  margin-right:4%;
  padding:1%;
  letter-spacing:1px;
  color:white;
  border:1px solid white;
  background-color:rgb(69, 69, 69);
  cursor:pointer;
  cursor:hand;
  border-radius: 5%;
  font-family: 'Maven Pro', sans-serif;
}
.inner-save{
  background-color:rgb(41, 40, 42);
  font-family:"Maven Pro", sans-serif;
}
#saveModalLabel{
  font-size:30px;
}
.modal-body{
  color:white;
}
.whole{
  margin-right:1%;
}
.note-select{
  margin-top:1%;
  margin-left:1%;
  margin-right:1%;
}
a{
  cursor:pointer;
  cursor:hand;
}
.spinner {
  float:left;
  margin-top: 26px;
  margin-left:3%;
  margin-bottom: 20px;
  width: 85px;
}
.spinner input {
  background-color:rgb(67, 64, 70);
  font-family:"Maven Pro", sans-serif;
  color:white;
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
#play {
    height: 50%;
    font-size: 2em;
    color: white;
    opacity: 0.60;
    margin-top: 1em;
    margin-bottom: 20px;
    margin-left: 30px;
    float: left;
}
#stop {
    height: 50%;
    font-size: 2em;
    color: white;
    opacity: 0.60;
    margin-top: 1em;
    margin-bottom: 20px;
    margin-left: 15px;
    float: left;
}
#reset {
  height: 50%;
  font-size: 2em;
  color: white;
  opacity: 0.60;
  margin-top: 1em;
  margin-bottom: 20px;
  margin-left: 15px;
  float: left;
}
.prev-grid{
  background-color:rgb(67, 64, 70);
  color:white;
  width:2.5%;
  float:left;
  padding-top:15%;
  height:300px;
  cursor:pointer;
  cursor:hand;
}
.next-grid{
  background-color:rgb(67, 64, 70);
  color:white;
  width:2.5%;
  float:left;
  padding-top:15%;
  height:300px;
  cursor:pointer;
  cursor:hand;
}
table{
  width:92.5%;
  margin-left:1%;
  margin-right:1%;
  height:300px;
  float:left;
}
.grid-table{
  width:92.5%;
  margin-left:1%;
  margin-right:1%;
  height:300px;
  float:left;
}
.grid-table-one{
  width:97%;
  margin-left:1%;
  margin-right:1%;
  height:300px;
  float:left;
}
td{
  width:3%;
  background-color:rgb(69, 69, 69);
  border-left:0.5px solid black;
  border-right:0.5px solid black;
  border-top:1px solid black;
  border-bottom: 2px solid black;
}
.collapse-heading{
  background-color:rgb(172, 172, 172);
  border-collapse: collapse;
  border-top:1px solid black;
  border-bottom:1px solid black;
}
.instrument {
  margin-left: 10px;
  margin-right: -10px;
}

.selected-instr{
  width:4%;
  height:4%;
  border: 1px solid black;
  color:white;
  line-height:0px;
  background-color: rgb(67, 64, 70);
}
.rack{
  background-color:rgb(67, 64, 70);
  border:1px solid black;
}
.note-label{
  font-size:20px;
}
.notes{
  background-color:rgba(66, 57, 77, 0.67);
  height:320px;
}
.bk-table{
  height:82.5px;
  border:2.5px solid white;
  font-family: "Maven Pro", sans-serif;
}
td.black-keys{
  background-color: rgb(190, 190, 190);
  border-style:none;
  width: 2.22222222222%;
}
td.black-keys.two-width{
  background-color: rgb(190, 190, 190);
  border:1px solid rgb(226, 226, 226);
  cursor:pointer;
  cursor:hand;
  color:white;
  width: 4.44444444444%;
}
.bk-note{
  border:1px solid white;
  height:90%;
  width:90%;
  margin:auto;
  background-color:black;
}
.wk-table{
  height:175px;
  font-family: "Maven Pro", sans-serif;
}
.w-note{
  background-color:white;
  border:1px solid black;
  height:90%;
  width:80%;
  margin:auto;
  vertical-align:middle;
}
td.white-keys{
  background-color: rgb(190, 190, 190);
  cursor:pointer;
  cursor:hand;
  border:2.5px solid rgb(235, 235, 235);
}
h4 {
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
}
.icon{
  width:24px;
}
.rack-title {
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
}
.collapse-panel {
  padding: 5px;
  overflow-y: auto;
  height:auto;
  max-height: 80px;
}
.panel-p{
  font-family:'Maven Pro', sans-serif;
  font-size:18px;
  background-color:rgb(124, 124, 124);
  color:white;
  padding-left:2%;
  text-align:left;
  cursor:pointer;
  cursor:hand;
}
.key-pick{
  width:95%;
  height:170px;
  color:silver;
  cursor:pointer;
  cursor:hand;
}
.chartContainer{
  width:100px;
  height:100px;
}
.chord-label{
  font-size:20px;
  color:white;
  letter-spacing:normal;
}
.chord-label.back{
  color:rgb(190,190,190);
  cursor:pointer;
  cursor:hand;
}
.chord-button {
  border-radius: 50%;
  border: 1px solid silver;
  background-color: rgb(172, 172, 172);
  height: 2.5em;
  width: 2.5em;
  align-content: center;
  padding: 2px 1px;
  font-size: 14px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  color: rgb(14, 5, 24);
}
.collapse-exampleC {
  padding: 5px;
  overflow-y: auto;
  height:auto;
  max-height: 200px;
}
.collapse-exampleD {
  padding: 5px;
  overflow-y: auto;
  height:auto;
  max-height: 200px;
}
.collapse-exampleEb {
  padding: 5px;
  overflow-y: auto;
  height:auto;
  max-height: 200px;
}

.button-chord {
  background-color: rgb(21, 20, 33);
  border: 1px solid silver;
  display:flex;
  width: 75px;
  font-family: 'Maven Pro', sans-serif;
}

.button-chord:hover, .button-chord:active, .button-chord:focus {
  background-color: rgb(64, 61, 163) !important;
  box-shadow: none;
  border: 1px solid silver;
}
.drums{
  background-color:rgba(66, 57, 77, 0.67);
  margin-left:0.5%;
  margin-right:0.5%;
  padding-bottom:4%;
}
.d-rack{
  width:95%;
  height:170px;
  color:silver;
  cursor:pointer;
  cursor:hand;
}
.rack-td{
  position:relative;
}
.rack-td > span{
  font-size:18px;
  position:absolute;
  bottom:0;
  right:0;
  letter-spacing:0px;
  color:rgb(10, 251, 63)
}
.my-rack{
  position:relative;
}
.minus{
  font-size:18px;
  position:absolute;
  bottom:0;
  right:0;
  letter-spacing:0px;
  color:red;
}
p.legend{
  color:white;
  line-height:0.5em;
}

.tempo-controls {
  float:left;
  margin-left: 15px;
  margin-top: 32px;
}
.tempo-label {
  font-family: 'Maven Pro', sans-serif;
  color: silver;
  font-size: 16px;
}

.tempo-box {
  color: black;
}

.playing {
  background-color: white;
}

#time-showing {
  padding: 0;
  margin-top: 0;
}

#two {
  /*width: 43px;
  height: 29px;*/
  padding: 0;
  margin-right: 0;
  margin-top: 0;
}
#three {
  padding: 0;
  margin-right: 0;
  margin-top: 0;
}
#four {
  padding: 0;
  margin-right: 0;
  margin-top: 0;
}

#time-button {
  background-color: rgb(41, 40, 42);
  border: 1px solid white;
  font-family: 'Maven Pro', sans-serif;
  color: white;
  font-size: 16px;
  margin-left: 1.5em;
  margin-top: 1.5em;
}

.dropdown-menu-right {
  min-width: 40px !important;
  background-color: rgb(41, 40, 42);
  color: silver;
  text-align: center;
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  position: absolute;
}

#time-icon {
  height: 50%;
  font-size: 2.5em;
  color: white;
  opacity: 0.60;
  margin-top: 0.7em;
  margin-bottom: 20px;
  margin-left: 15px;
  float: left;
}

#play-all {
  height: 50%;
  font-size: 2.2em;
  color: white;
  opacity: 0.60;
  margin-top: 0.4em;
  margin-bottom: 20px;
  margin-right: 15px;
  /*float: right;*/
}

#save-it {
  height: 50%;
  font-size: 2.2em;
  color: white;
  opacity: 0.60;
  margin-top: 0.4em;
  margin-bottom: 20px;
  margin-right: 15px;
  /*float: right;*/
}

#user-icon {
  height: 50%;
  font-size: 2.2em;
  color: white;
  opacity: 0.60;
  margin-top: 0.4em;
  margin-bottom: 20px;
  margin-right: 15px;
  float: right;
}
