html {
  background-color: rgb(41, 40, 42);
  /*padding-top: 5%;
  padding-right: 15%;
  padding-left: 15%;*/
}

.splash {
  background: url('../img/studio2.jpg');
  background-size:cover;
  font-family:'Maven Pro', sans-serif;
  color: silver;
  padding-bottom: 200px;
}

.glyphicon {
  font-size: 2em;
  padding: 22px;
}


.form-body {
  background-color: transparent;
  padding-top:2%;
  padding-right: 33%;
  padding-left: 33%;
}

h1 {
  color: silver;
  font-family: 'Maven Pro', sans-serif;
  font-size: 70px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 200px;
}

button {
  margin-top: 15px;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid silver;
  width: 8.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8%;

}

#username {
  background-color: white;
  border: 1px solid white;
}

#password {
  background-color: white;
  border: 1px solid white;
}

#password-label {
  color: white;
  font-family: 'Maven Pro', sans-serif;
}
#password-label:hover {
  color: white;
  font-family: 'Maven Pro', sans-serif;
}

.control-label {
  color: white;
  font-family: 'Maven Pro', sans-serif;
}

#login-submit {
  background-color: white;
  color: black;
  float: right;
  margin-right: 5px;
  font-family: 'Maven Pro', sans-serif;
  border: 1px solid white !important;
  width: 6em;
}
#login-submit:hover {
  color: black;
  font-family: 'Maven Pro', sans-serif;
  border: 1px solid white !important;
}
#login-submit:active{
  color: black;
  font-family: 'Maven Pro', sans-serif;
  border: 1px solid white !important;
}
#signup-submit {
  color: black;
  float: right;
  font-family: 'Maven Pro', sans-serif;
  border: 1px solid white !important;
  width: 6em;
}

p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  color: silver;
}

a {
  color: purple;
}

a:hover {
  color: silver;
}

.splash-text {
  margin-top: 2em;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 4%;
}

.tech {
  background-color: rgb(41, 40, 42);
  padding-top: 5%;
  padding-bottom: 5%;
}

.tech-header {
  font-size: 50px;
  margin-bottom: 4%;
  color: white;
  opacity: 0.8;
}

p {
  font-size: 18px;
  color: white;
  opacity: 0.8;
  margin-bottom: 4%;
}

.features {
  padding-top: 3.5%;
}

.social {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.social-label{
  padding-top:5%;
  color:black;
}

.social-header {
  color: black;
  font-size: 50px;
}

/*span {
  padding-top: 3%;
  padding-left: 8em;
  padding-right: 8em;
}*/
