html, body {
  background-color: rgb(41, 40, 42);
  padding-top: 5%;
  padding-right: 15%;
  padding-left: 15%;
}

h1 {
  color: silver;
  font-family: 'Maven Pro', sans-serif;
  font-size:50px;
  letter-spacing: 3px;
  text-align: center;
}

#username {
  background-color: silver;
  border: 1px solid silver;
}

#password {
  background-color: silver;
  border: 1px solid silver;
}

#password-label {
  color: silver;
  font-family: 'Maven Pro', sans-serif;
}
#password-label:hover {
  color: silver;
  font-family: 'Maven Pro', sans-serif;
}

.control-label {
  color: silver;
  font-family: 'Maven Pro', sans-serif;
}

#login-submit {
  color: black;
  float: right;
  margin-right: 5px;
  font-family: 'Maven Pro', sans-serif;
  border: 1px solid silver !important;
  width: 6em;
}
#login-submit:hover {
  color: black;
  font-family: 'Maven Pro', sans-serif;
  border: 1px solid silver !important;
}
#login-submit:active{
  color: black;
  font-family: 'Maven Pro', sans-serif;
  border: 1px solid silver !important;
}
#signup-submit {
  color: black;
  float: right;
  font-family: 'Maven Pro', sans-serif;
  border: 1px solid silver !important;
  width: 6em;
}
