body {
    background-color: rgb(41, 40, 42);
    color: silver;
    font-family: 'Maven Pro', sans-serif;
    padding: none;
}

#sidebar {
  margin-top: 5em;
}

.sidebar {
  padding-left: 3em;
}

p {
  color: silver;
  font-family: 'Maven Pro', sans-serif;
}

.media-object {
  height: 10em;
  width: auto;
  border-radius: 50%;
}

h1  {
  font-size: 40px;
  color: purple;
}

.projects {
  text-align: center;
  color: silver;
  font-family: 'Maven Pro', sans-serif;
  padding-top: none !important;
}

.profile-heading {
  color: silver;
  font-family: 'Maven Pro', sans-serif;
  margin-right: 15em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;

}

#project-title {
  margin-left: -1em;
  font-family: 'Maven Pro', sans-serif;
  cursor:pointer;
  cursor:hand;
}

#project-update {
  margin-left: -0.5em;
  font-family: 'Maven Pro', sans-serif;
}

#project-genre {
  margin-left: 0.5em;
  font-family: 'Maven Pro', sans-serif;
}
